.fond {
  margin: 5px 0;
  padding: 0 10px;

  position: relative;
  &.violet {
    background-image: -webkit-linear-gradient(-60deg, rgb(123, 15, 156), rgb(182, 121, 218));
    background-image: -moz-linear-gradient(-60deg, rgb(123, 15, 156), rgb(182, 121, 218));
    background-image: -o-linear-gradient(-60deg, rgb(123, 15, 156), rgb(182, 121, 218));
    background-image: linear-gradient(-60deg, rgb(123, 15, 156), rgb(182, 121, 218));
  }
  &.rouge {
    padding-bottom: 5%;
    height: 50vw;
    background-image: -webkit-linear-gradient(-60deg, rgb(197, 28, 22), rgb(248, 221, 68));
    background-image: -moz-linear-gradient(-60deg, rgb(197, 28, 22), rgb(248, 221, 68));
    background-image: -o-linear-gradient(-60deg, rgb(197, 28, 22), rgb(248, 221, 68));
    background-image: linear-gradient(-60deg, rgb(197, 28, 22), rgb(248, 221, 68));
    h4 {
      margin-left: 30%;
    }
  }
  &.bleu {
    padding-bottom: 4%;
    height: 40vw;
    background-image: -webkit-linear-gradient(-60deg, rgb(145, 200, 236), rgb(22, 155, 207));
    background-image: -moz-linear-gradient(-60deg, rgb(145, 200, 236), rgb(22, 155, 207));
    background-image: -o-linear-gradient(-60deg, rgb(145, 200, 236), rgb(22, 155, 207));
    background-image: linear-gradient(-60deg, rgb(145, 200, 236), rgb(22, 155, 207));
    h4 {
      transform: rotate(-2deg);
    }
    .competencesLogo{
      margin-top: -2vw;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      img {
        width: 9vw;
      }
      .langages{
      }
    }
  }
  &.vert {
    padding-bottom: 10%;
    height: 40vw;
    background-image: -webkit-linear-gradient(-60deg, rgb(148, 236, 145), rgb(48, 160, 26));
    background-image: -moz-linear-gradient(-60deg, rgb(148, 236, 145), rgb(48, 160, 26));
    background-image: -o-linear-gradient(-60deg, rgb(148, 236, 145), rgb(48, 160, 26));
    background-image: linear-gradient(-60deg, rgb(148, 236, 145), rgb(48, 160, 26));
    h4 {
      margin-left: 20%;
      transform: rotate(3deg);
      margin-bottom: 0;
    }
  }
  &.rose {
    padding-bottom: 10%;
    padding-top: 10%;
    background-image: -webkit-linear-gradient(-60deg, rgb(197, 33, 175), rgb(241, 137, 255));
    background-image: -moz-linear-gradient(-60deg, rgb(197, 33, 175), rgb(241, 137, 255));
    background-image: -o-linear-gradient(-60deg, rgb(197, 33, 175), rgb(241, 137, 255));
    background-image: linear-gradient(-60deg, rgb(197, 33, 175), rgb(241, 137, 255));
    h4 {
      transform: rotate(5deg);
    }
  }
  .text {
    height: 25vw;
    border: 2px solid #fff;
    padding: 5px;
  }
}
