#imagesTitres {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  align-items: center;
  #viviane {
    width: 40%;
    height: auto;
  }
  #tache {
    width: 50%;
    height: 30%;
  }
}

.translateX{
  animation: translateX 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translateX(200%);
  transition: 0.5s; }
@keyframes translateX {
  100% {
    transform: translateX(3%); } }


#titres {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 45%;
  h1 {
    font-size: 6vw;
    margin: 0;
    color: rgb(230, 230, 230);
    text-shadow: 0 1px 0 rgb(0, 0, 0), 0 2px 0 #000000, -1px 3px 0 rgb(0, 0, 0), -1px 4px 0 rgb(0, 0, 0),
      -2px 5px 0 rgb(0, 0, 0), -2px 6px 0 rgb(0, 0, 0), -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2),
      -2px 7px 45px rgba(0, 0, 0, 0.4);
    -webkit-transform: perspective(2000px) rotateY(50deg); /* Pour Chrome et Safari */
    -moz-transform: perspective(2000px) rotateY(50deg); /* Pour Mozilla */
    -o-transform: perspective(2000px) rotateY(50deg); /* Pour Opera */
    transform: perspective(2000px) rotateY(50deg);
  }
  h2 {
    font-size: 4vw;
    margin: 0;
    color: rgb(153, 63, 63);
    text-shadow: 0 1px 0 rgb(0, 0, 0), 0 2px 0 #000000, -1px 3px 0 rgb(0, 0, 0), -1px 4px 0 rgb(0, 0, 0),
      -2px 5px 0 rgb(0, 0, 0), -2px 6px 0 rgb(0, 0, 0), -2px 7px 2px rgba(0, 0, 0, 0.6), -2px 7px 8px rgba(0, 0, 0, 0.2),
      -2px 7px 45px rgba(0, 0, 0, 0.4);
    -webkit-transform: perspective(2000px) rotateY(50deg); /* Pour Chrome et Safari */
    -moz-transform: perspective(2000px) rotateY(50deg); /* Pour Mozilla */
    -o-transform: perspective(2000px) rotateY(50deg); /* Pour Opera */
    transform: perspective(2000px) rotateY(50deg);
  }
}

h3{
  font-size: 4vw;
  margin:0;
  transform: rotate(-3deg);
  text-align: center;
  position: absolute;
  z-index:2;
  top: 90%;
  left:20%
}
